@font-face {
  font-family: 'Dyslexie';
  src: url(../Fonts/Dyslexie_Regular_8542.ttf);
}

html body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #F5F7F8;
  width: 100vw;
  height: 100vh;
  font-family: 'Dyslexie';
}

header {
  background: #51626D;
  top: 0;
  height: 8%;
  width: 100%;
}

header nav {
  height: 100%;
}

nav li {
  display: inline;
  width: 8%;
  height: 100%;
  float: left;
}

li a {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a .homeicon {
  width: 40%;
  height: 40%;
  background-image: url(../images/home.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

a .settingsicon {
  width: 40%;
  height: 40%;
  background-image: url(../images/settings.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

a .logouticon {
  width: 40%;
  height: 40%;
  background-image: url(../images/logout.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.logoutli {
  float: right;
}

li a:hover {
  background-color: #F5F7F8;
}

li a:hover .homeicon {
  background-image: url(../images/homeblack.png);
}

li a:hover .settingsicon {
  background-image: url(../images/settingsblack.png);
}

li a:hover .logouticon {
  background-image: url(../images/logoutblack.svg);
}

.container {
  /*background-color: black;*/
  margin: 0 auto;
  width: 90%;
  height: 100%;
  margin-top: 1%;
}

.my-profile {
  background-color: white;
  height: 50%;
  width: 25%;
  border-radius: 3%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  float: left;
}

.username h1 {
  color: black;
  text-align: center;
  font-size: calc(1vw + 1vh);
}

.profile-image {
  position: relative;
  border-radius: 50%;
  width: 40%;
  height: auto;
  padding-top: 40%;
  background: black;
  margin: 0 auto;
}

hr {
  border: 1px solid #eee;
  width: 90%;
}

table {
  float: left;
}

table tr td {
  padding-top: 12%;
  font-size: calc(0.6vh + 0.6vw);
}

td .birthday::before {
  content: ".....";
  background-image: url(../images/birthday.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55% 100%;
  color: transparent;
  padding-left: 20px; // equal to width of image.
  padding-right: 10px;
}

td .location::before {
  content: ".....";
  background-image: url(../images/location.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55% 100%;
  color: transparent;
  padding-left: 20px; // equal to width of image.
  padding-right: 10px;
}

td .profession::before {
  content: ".....";
  background-image: url(../images/profession.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55% 100%;
  color: transparent;
  padding-left: 20px; // equal to width of image.
  padding-right: 10px;
}

.create-post-container {
  width: 60%;
  height: 32%;
  background: white;
  display: inline-block;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-left: 2%;
  border-radius: 4px;
  padding: 1%;
}

.create-post-container h1 {
  margin: 0 auto;
  text-align: center;
  font-size: calc(0.8vh + 0.8vw);
  margin-bottom: 1%;
}

.create-post-container input {
  display: block;
  width: 95%;
  height: 20%;
  font-size: calc(0.8vh + 0.8vw);
  margin: 0 auto;
}

.create-post-container textarea {
  display: block;
  width: 95%;
  height: 20%;
  margin: 0 auto;
  font-size: calc(0.4vh + 0.4vw);
  resize: none;
}

.create-post-container .text {
  margin-top: 1.5%;
  height: 40%;
}

.post-container {
  width: 60%;
  height: auto;
  background: white;
  display: inline-block;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-left: 2%;
  border-radius: 4px;
  margin-top: 1%;
  padding: 1%;
  padding-bottom: 3%;
  /*box-sizing: border-box;*/
}

.post-profile-image {
  position: relative;
  border-radius: 50%;
  width: 10%;
  height: auto;
  padding-top: 10%;
  background: black;
  float: left;
}

.post-container h1 {
  padding-left: 12%;
  font-size: calc(0.8vh + 0.8vw);
}

.time-since-post {
  position: absolute;
  top: 5%;
  right: 2%;
  opacity: 0.6;
}

.create-post input {
  width: 15%;
  height: 35px;
  margin: 0;
  margin-left: 2%;
  border-radius: 0%;
  background: #51626D;
  color: white;
  margin-top: 1%;
}

.create-post input:hover {
  cursor: pointer;
  background-color: white;
  color: #51626D;
}

.post-container hr {
  margin-top: 10%;
  width: 100%;
}

.like-comment {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 1%;
  margin-left: 1%;
  width: 50%;
  height: 8%;
}

.like-comment input {
  background: #51626D;
  color: white;
  border: 0;
  width: 7vw;
  height: 4.5vh;
}

.like-comment input:hover {
  background-color: white;
  cursor: pointer;
  color: #51626D;
  border: 1px solid #51626D;
}

.post-content p {
  font-size: calc(0.55vh + 0.55vw);
}